*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

#box{
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    background-color: grey;
}
#car1{
    width: 100px;
    height: 120px;
    background-color: red;
}


#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(135, 54, 54);
}


#box2{
    width: 110px;
    height: 100px;
    background-color: blue;
}


#box3{
    width: 100px;
    height: 100px;
    background-color: yellow;
}